@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@400;500;600;700;900&family=Manrope:wght@700&display=swap");

html {
  font-family: "Inter", sans-serif;
  font-family: "Epilogue", sans-serif;
  font-family: "Manrope", sans-serif;
}
