@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@400;500;600;700;900&family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
  font-family: "Inter", sans-serif;
  font-family: "Epilogue", sans-serif;
  font-family: "Manrope", sans-serif;
}

.pagination {
  list-style: none;
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 2px;

  li.active {
    background-color: red;
    color: #141714 !important;
    width: 40px;
    height: 40px;
    /* background-color: #f7faf7; */
    border-radius: 8px;
  }

  li.active-link {
    color: #141714;
  }

  .previous,
  .next {
    color: #141714;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #e7ece7;
    border-radius: 8px;
    box-shadow: 0px 1.5px 4px -1px rgba(20, 23, 20, 0.07);
    display: flex;
    align-items: center;
  }

  .previous::before {
    content: "\2190";
    margin-right: 8px;
    margin-left: 8px;
  }

  .next::after {
    content: "\2192";
    margin-right: 8px;
    margin-left: 8px;
  }

  li.active {
    width: 40px;
    height: 40px;
    background-color: #f7faf7;
    border-radius: 8px;
  }

  li.active-link {
    color: #141714;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }

  /* li:first-child {
    margin-right: 350px;
  }
  li:last-child {
    margin-left: 350px;
  } */

  li {
    color: #cbd1cb;

    a {
      font-size: 14px;
      font-weight: 500;
      width: 40px;
      height: 40px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.prose {
  color: var(--tw-prose-body) !important;
  max-width: 65ch !important;
}
.prose :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
.prose :where([class~="lead"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-lead) !important;
  font-size: 1.25em !important;
  line-height: 1.6 !important;
  margin-top: 1.2em !important;
  margin-bottom: 1.2em !important;
}
.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-links) !important;
  text-decoration: underline !important;
  font-weight: 500 !important;
}
.prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-bold) !important;
  font-weight: 600 !important;
}
.prose :where(a strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit !important;
}
.prose :where(blockquote strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit !important;
}
.prose :where(thead th strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit !important;
}
.prose :where(ol):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: decimal !important;
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
  padding-inline-start: 1.625em !important;
}
.prose :where(ol[type="A"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-alpha !important;
}
.prose :where(ol[type="a"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-alpha !important;
}
.prose :where(ol[type="A" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-alpha !important;
}
.prose :where(ol[type="a" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-alpha !important;
}
.prose :where(ol[type="I"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-roman !important;
}
.prose :where(ol[type="i"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-roman !important;
}
.prose :where(ol[type="I" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-roman !important;
}
.prose :where(ol[type="i" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-roman !important;
}
.prose :where(ol[type="1"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: decimal !important;
}
.prose :where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: disc !important;
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
  padding-inline-start: 1.625em !important;
}
.prose :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  font-weight: 400 !important;
  color: var(--tw-prose-counters) !important;
}
.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  color: var(--tw-prose-bullets) !important;
}
.prose :where(dt):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings) !important;
  font-weight: 600 !important;
  margin-top: 1.25em !important;
}
.prose :where(hr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-color: var(--tw-prose-hr) !important;
  border-top-width: 1px !important;
  margin-top: 3em !important;
  margin-bottom: 3em !important;
}
.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 500 !important;
  font-style: italic !important;
  color: var(--tw-prose-quotes) !important;
  border-inline-start-width: 0.25rem !important;
  border-inline-start-color: var(--tw-prose-quote-borders) !important;
  quotes: "\201C""\201D""\2018""\2019" !important;
  margin-top: 1.6em !important;
  margin-bottom: 1.6em !important;
  padding-inline-start: 1em !important;
}
.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: open-quote !important;
}
.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: close-quote !important;
}
.prose :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings) !important;
  font-weight: 800 !important;
  font-size: 2.25em !important;
  margin-top: 0 !important;
  margin-bottom: 0.8888889em !important;
  line-height: 1.1111111 !important;
}
.prose :where(h1 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 900 !important;
  color: inherit !important;
}
.prose :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings) !important;
  font-weight: 700 !important;
  font-size: 1.5em !important;
  margin-top: 2em !important;
  margin-bottom: 1em !important;
  line-height: 1.3333333 !important;
}
.prose :where(h2 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 800 !important;
  color: inherit !important;
}
.prose :where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings) !important;
  font-weight: 600 !important;
  font-size: 1.25em !important;
  margin-top: 1.6em !important;
  margin-bottom: 0.6em !important;
  line-height: 1.6 !important;
}
.prose :where(h3 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 700 !important;
  color: inherit !important;
}
.prose :where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings) !important;
  font-weight: 600 !important;
  margin-top: 1.5em !important;
  margin-bottom: 0.5em !important;
  line-height: 1.5 !important;
}
.prose :where(h4 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 700 !important;
  color: inherit !important;
}
.prose :where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.prose :where(picture):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  display: block !important;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.prose :where(video):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.prose :where(kbd):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-weight: 500 !important;
    font-family: inherit !important;
    color: var(--tw-prose-kbd) !important;
    box-shadow: 0 0 0 1px rgb(var(--tw-prose-kbd-shadows) / 10%), 0 3px 0 rgb(var(--tw-prose-kbd-shadows) / 10%) !important;
    font-size: 0.875em !important;
    border-radius: 0.3125rem !important /* 5px */;
    padding-top: 0.1875em !important;
    padding-inline-end: 0.375em !important;
    padding-bottom: 0.1875em !important;
    padding-inline-start: 0.375em !important;
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: var(--tw-prose-code) !important;
    font-weight: 600 !important;
    font-size: 0.875em !important;
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
    content: "`" !important;
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
    content: "`" !important;
}
.prose :where(a code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: inherit !important;
}
.prose :where(h1 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: inherit !important;
}
.prose :where(h2 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: inherit !important;
    font-size: 0.875em !important;
}
.prose :where(h3 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: inherit !important;
    font-size: 0.9em !important;
}
.prose :where(h4 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: inherit !important;
}
.prose :where(blockquote code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: inherit !important;
}
.prose :where(thead th code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: inherit !important;
}
.prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: var(--tw-prose-pre-code) !important;
    background-color: var(--tw-prose-pre-bg) !important;
    overflow-x: auto !important;
    font-weight: 400 !important;
    font-size: 0.875em !important;
    line-height: 1.7142857 !important;
    margin-top: 1.7142857em !important;
    margin-bottom: 1.7142857em !important;
    border-radius: 0.375rem !important /* 6px */;
    padding-top: 0.8571429em !important;
    padding-inline-end: 1.1428571em !important;
    padding-bottom: 0.8571429em !important;
    padding-inline-start: 1.1428571em !important;
}
.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    background-color: transparent !important;
    border-width: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    font-weight: inherit !important;
    color: inherit !important;
    font-size: inherit !important;
    font-family: inherit !important;
    line-height: inherit !important;
}
.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
    content: none !important;
}
.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
    content: none !important;
}
.prose :where(table):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    width: 100% !important;
    table-layout: auto !important;
    margin-top: 2em !important;
    margin-bottom: 2em !important;
    font-size: 0.875em !important;
    line-height: 1.7142857 !important;
}
.prose :where(thead):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    border-bottom-width: 1px !important;
    border-bottom-color: var(--tw-prose-th-borders) !important;
}
.prose :where(thead th):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: var(--tw-prose-headings);
    font-weight: 600 !important;
    vertical-align: bottom !important;
    padding-inline-end: 0.5714286em !important;
    padding-bottom: 0.5714286em !important;
    padding-inline-start: 0.5714286em !important;
}
.prose :where(tbody tr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    border-bottom-width: 1px !important;
    border-bottom-color: var(--tw-prose-td-borders) !important;
}
.prose :where(tbody tr:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    border-bottom-width: 0 !important;
}
.prose :where(tbody td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    vertical-align: baseline !important;
}
.prose :where(tfoot):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    border-top-width: 1px !important;
    border-top-color: var(--tw-prose-th-borders) !important;
}
.prose :where(tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    vertical-align: top !important;
}
.prose :where(th, td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    text-align: start !important;
}
.prose :where(figure > *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.prose :where(figcaption):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: var(--tw-prose-captions) !important;
    font-size: 0.875em !important;
    line-height: 1.4285714 !important;
    margin-top: 0.8571429em !important;
}
.prose {
    --tw-prose-body: #374151;
    --tw-prose-headings: #111827;
    --tw-prose-lead: #4b5563;
    --tw-prose-links: #111827;
    --tw-prose-bold: #111827;
    --tw-prose-counters: #6b7280;
    --tw-prose-bullets: #d1d5db;
    --tw-prose-hr: #e5e7eb;
    --tw-prose-quotes: #111827;
    --tw-prose-quote-borders: #e5e7eb;
    --tw-prose-captions: #6b7280;
    --tw-prose-kbd: #111827;
    --tw-prose-kbd-shadows: 17 24 39;
    --tw-prose-code: #111827;
    --tw-prose-pre-code: #e5e7eb;
    --tw-prose-pre-bg: #1f2937;
    --tw-prose-th-borders: #d1d5db;
    --tw-prose-td-borders: #e5e7eb;
    --tw-prose-invert-body: #d1d5db;
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: #9ca3af;
    --tw-prose-invert-links: #fff;
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: #9ca3af;
    --tw-prose-invert-bullets: #4b5563;
    --tw-prose-invert-hr: #374151;
    --tw-prose-invert-quotes: #f3f4f6;
    --tw-prose-invert-quote-borders: #374151;
    --tw-prose-invert-captions: #9ca3af;
    --tw-prose-invert-kbd: #fff;
    --tw-prose-invert-kbd-shadows: 255 255 255;
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: #d1d5db;
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: #4b5563;
    --tw-prose-invert-td-borders: #374151;
    font-size: 1rem /* 16px */ !important;
    line-height: 1.75 !important;
}
.prose :where(picture > img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.prose :where(li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}
.prose :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    padding-inline-start: 0.375em !important;
}
.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    padding-inline-start: 0.375em !important;
}
.prose :where(.prose > ul > li p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0.75em !important;
    margin-bottom: 0.75em !important;
}
.prose :where(.prose > ul > li p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0.75em !important;
    margin-bottom: 0.75em !important;
}
.prose :where(.prose > ul > li > p:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 1.25em !important;
}
.prose :where(.prose > ul > li > p:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 1.25em !important;
}
.prose :where(.prose > ul > li > p:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-bottom: 1.25em !important;
}
.prose :where(.prose > ul > li > p:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-bottom: 1.25em !important;
}
.prose :where(.prose > ol > li > p:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 1.25em;
}
.prose :where(.prose > ol > li > p:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 1.25em !important;
}
.prose :where(.prose > ol > li > p:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-bottom: 1.25em !important;
}
.prose :where(.prose > ol > li > p:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-bottom: 1.25em !important;
}
.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0.75em !important;
    margin-bottom: 0.75em !important;
}
.prose :where(dl):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
}
.prose :where(dd):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0.5em !important;
    padding-inline-start: 1.625em !important;
}
.prose :where(hr + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0 !important;
}
.prose :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0 !important;
}
.prose :where(h3 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0 !important;
}
.prose :where(h4 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0 !important;
}
.prose :where(thead th:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    padding-inline-start: 0 !important;
}
.prose :where(thead th:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    padding-inline-end: 0 !important;
}
.prose :where(tbody td, tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    padding-top: 0.5714286em !important;
    padding-inline-end: 0.5714286em !important;
    padding-bottom: 0.5714286em !important;
    padding-inline-start: 0.5714286em !important;
}
.prose :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    padding-inline-start: 0 !important;
}
.prose :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    padding-inline-end: 0 !important;
}
.prose :where(figure):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
.prose :where(.prose > :first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0 !important;
}
.prose :where(.prose > :first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-top: 0 !important;
}
.prose :where(.prose > :last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-bottom: 0 !important;
}
.prose :where(.prose > :last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    margin-bottom: 0 !important;
}

.prose .w-md-editor,
.prose .w-md-editor-content,
.prose .wmde-markdown {
  font-family: inherit !important;
  line-height: inherit !important;
  color: inherit !important;
  background: transparent !important;
  border: none !important;
}

.prose .w-md-editor-preview {
  background: transparent !important;
}


.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 18px !important;
  font-weight: 400 !important;
  font-family: "Manrope", sans-serif !important;
  color: #304141 !important;
}

.w-md-editor-preview .wmde-markdown{
  font-size: 18px !important;
  font-weight: 400 !important;
  font-family: "Manrope", sans-serif !important;
  color: #304141 !important;
  background-color: transparent !important;
}

.w-md-editor-preview .wmde-markdown strong{
  font-weight: 700 !important;
  color: #000 !important;
}

.w-md-editor-preview .wmde-markdown table, .w-md-editor-preview .wmde-markdown th, .w-md-editor-preview .wmde-markdown tr{
  background-color: #FFFF !important;
}

.w-md-editor-preview code {
  background-color: #1F2937 !important;
  color: #E5E7EB !important;
  font-size: 12px !important;
  font-family: "Fira Code", monospace !important;
  border-radius: 6px;
}

.w-md-editor-preview .code-line{
  color: #DB8A2D !important;
  font-family: "Fira Code", monospace !important;
  font-size: 14px !important;
}

.w-md-editor-text{
  min-height: 100% !important;
}

.w-md-editor-toolbar {
    padding: 10px !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.command-container {
  display: flex;
  flex-direction: column;
  min-height: 1px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(20, 23, 20, 0.2);
  /* Adjust these values as needed */
  color: inherit;
  padding: 8px 0;
  z-index: 999;
  flex: 1;
}

.command-input {
  padding: 8px 30px;
  margin: 0 8px 8px 8px;
  outline: none;
  background: transparent;
  width: calc(100% - 18px);
  border: 1px solid #e7ece7;
}

.command-input-search {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  opacity: 0.5;

  position: absolute;
  top: 13px;
  left: 15px;
}

.command-list {
  border-top: 1px solid #e7ece7;
  overflow: auto;
  overscroll-behavior: contain;
  flex: 1;
  max-height: 300px;
}

.command-group {
  &>[cmdk-group-heading] {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #cbd1cb;
  }
}

.command-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  padding: 8px 16px;
  gap: 16px;
  user-select: none;
  transition: all 0.3s;

  &[data-disabled="true"] {
    opacity: 0.6;
  }

  &[data-selected="true"] {
    background-color: #f7faf7;
  }

  &:hover {
    background-color: #f7faf7;
  }
}

.command-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #cbd1cb;
  font-size: 16px;
  height: 64px;
}

.command-loading {
  display: flex;
  align-items: center;
  color: #cbd1cb;
  font-size: 16px;
  padding: 8px 16px;
  height: 48px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.acct-name-loader {
  position: absolute;
  right: 15px;
  bottom: 15px;
  opacity: 0.5;
}

@media (max-width: 991px) {
  .searchbar {
    display: none !important;
  }

  .mobileCreateEventSideBar {
    margin-top: 5rem;
  }
}