name: Deployment

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  build_and_preview:
    permissions: write-all
    name: Web Build & Staging Deploy
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged == true }}
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci --force

      - name: Build project
        run: npm run build

      - name: Deploy to Vercel (Preview)
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          github-token: ${{ github.token }}
          vercel-args: "--prod"
          working-directory: ./
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}